body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 9px;
}

button[type='submit'],
button[type='button'] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button[type='submit']:hover,
button[type='button']:hover {
  background-color: #45a049;
}